/* .mainPageParagraphOne {
    vertical-align: middle;
   
}

.mainPageParagraphTwo {

} */

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

@fontface {
    font-family: 'Allerta Stencil', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Allerta+Stencil')
}


.homePageTitle {
    height: 200px;
    background-color: #659B5E;
    color: white;
    line-height: 160px;
    border: 15px solid green;
    text-decoration: none;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4em;
}

.homePageTitle:hover {
    transform: translateY(-10px);
    animation: all .2s;
    text-decoration: none;
}

.homePageTitle2 {
    height: 200px;
    background-color: #659B5E;
    color: white;
    line-height: 160px;
    border: 15px solid green;
    text-decoration: none;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3em;
}

.homePageSignin-Out {
    height: 100px;
    background-color: #659B5E;
    color: white;
    line-height: 65px;
    border: 15px solid green;
    text-decoration: none;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3em;
}

.homePageSignin-Out:hover {
    transform: translateY(-10px);
    animation: all .2s;
    text-decoration: none;
}

.homeBody {
    max-Width: 1160px;
    margin: 0 auto;
}

.homeContainer {
    margin-bottom: 100px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .homePageTitle {
        font-size: 2em;
        line-height: 2em;
    }
    .homePageTitle2 {
        font-size: 2em;
        line-height: 2em;
    }

}

