.questionBackground {
    background: url("../images/gravel.png");
    height: 115%;
    width: 100vw;
    background-attachment: fixed;
}

.questionHeader {
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px;
    /* breaking side nav */
    /* position: fixed; */
    top: 0%;
    z-index: 2;
    border-bottom: 10px solid #08B2E3;
}

.questionHeader h1 {
    margin-top: 25px;
}

.questionTitle {
    position: relative;
    top: 25%;
}

.questionNav {
    position: relative;
    left: 46%;
    margin-top: 25px;
}

.questionContainer {
    margin-top: 5%;
    margin-bottom: 100px;
}

li {
    list-style: none;
}