.answerBackground {
    background: url("./gravel.png");
    height: 115%;
    width: 100vw;
    background-attachment: fixed;
}

.questionHeader {
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px;
    /* breaking side nav */
    /* position: fixed; */
    top: 0%;
    z-index: 2;
    border-bottom: 10px solid #B80C09;
}

.questionTitle {
    position: relative;
    top: 25%;
}

.container {
    margin-top: 5%;
}