.profileBackground {
    background: url("../images/gravel.png");
    height: 115%;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: cover;
    position: relative;
    top: -25px;
}



.profileContainer {
    background-color: white;
    box-shadow: 2px 2px 2px darkgrey;
    border: 20px solid #C1CFDA;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.profileTitle {
    position: relative;
    top: 50%;
}