.homeTitle {
    /* position: relative;
    top: 50%;
    left: 5%; */
    height: 100px;
}

.titleBody {
    margin: 0 auto;
    width: 100%;
}

.logButton {
    color: white;
    font-size: 40px;
}

.pt-navbar {
    height: 100px !important;
}