.titleBody {
    margin: 0 auto;
    width: 100%;
}

.logButton {
    color: white;
    font-size: 15px;
    margin-top: 45px;
}

.pt-navbar {
    height: 100px !important;
}

.homeTitleLogout {
    position: relative;
    top: 50%;
    left: 10%;
    height: 100px;
}

.homeTitleLogin {
    position: relative;
    top: 50%;
    left: 5%;
    height: 100px;
}