.question5Background {
    background: url("../images/gravel.png");
    height: 115%;
    width: 100vw;
    background-attachment: fixed;
}

.question5Header {
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px;
    /* breaking side nav */
    /* position: fixed; */
    top: 0%;
    z-index: 2;
    border-bottom: 10px solid #FFD700;
}

.question5Header h1 {
    margin-top: 25px;
}

.question5Title {
    position: relative;
    top: 25%;
}

.question5Container {
    margin-top: 5%;
    margin-bottom: 100px;
}

li {
    list-style: none;
}